/* GENERAL */
.white {
  background-color: white;
}

.center {
  text-align: center;
}

body, html{
  background-color: white !important;
}

.dark {
  background-color: #808080;
  color: white !important;
}

/* NEWSLETTER SIGNUP */
.callToAction  a, .tryButton, .productButton {
  background: #ff6565;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: white;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .row-sm-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .container-no-padding {
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;
  }
}

.callToAction  a:hover,  .tryButton:hover, .productButton:hover {
  background: #ff2424;
  border: none;
  color: white;
}

.cta {
  background: #ff6565;
}
.cta:hover {
  background: #ff2424;
}

h2, h3 {
  word-wrap: break-word;
}


/* Sections */

.emotional .text {
  color: black !important;
}

.graphic.story {
  height: 54px !important;
}

.actionShot {
  height: 31%;;
  width: 100%;
  background-image: url(/assets/actionShot.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center !important;
}

.pitchShot {
  height: 70%;
  width: 100%;
  background-image: url(/assets/pitchImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% 10%;
}

.features {
  background: rgba(255, 101, 101, 0.12);;
  text-align: center;
}

.features .text {
  color: black !important;
}

.showroom .text {
  color: black !important;
}

div.emotional {
  color: black;
  background: white;
}

.testimonialImage {
  border-radius: none !important;
}

.mobile-center {
  text-align: center;
  padding: 2em 0;
}

.mobile-center img {
  max-width: 70% !important;
  margin-right: 50%;
  transform: translateX(50%);
}

/* IMPRESSUM */
.footer {
  background-color: white;
  text-align: center;
  padding: 1em;
}
.footer > span {
  color: black;
  font-size: 0.8em;
}

@media (min-width:801px)  { 
  img.stars {
    max-width: 30% !important;
  }

  .slider-stage {
    text-align: center;
  }

  .mobile-center {
    text-align: left;
    padding: 0;
  }

  .mobile-center img {
    max-width: 200px;
    margin-right: 0;
    transform: translateX(0);
  }

  .text-main-stage {
    text-align: left;
  }
  .pitchShot {
    height: 60%;
  }
}